
body {
  background-color: #000;
  margin: 0;
  padding: 0;
  height: 60vh; /* Asegura que el cuerpo ocupe toda la altura de la ventana */
  display: flex;
  align-items: center; /* Centra verticalmente los elementos en el cuerpo */
  justify-content: center; /* Centra horizontalmente los elementos en el cuerpo */
}
.flower {
  height: 200px;
  width: 200px;
  margin: 20px auto;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  background-color: #000; /* Fondo negro para toda la página */

  /* Agrega una animación de pulsación */
  animation: pulsate 2s infinite;
}

.text-above,
.text-below {
    position: absolute;
    text-align: center;
    color: #fff; /* Color del texto */
    font-size: 25px; /* Tamaño del texto */
}

.text-above {
    top: -60px; /* Ajusta la posición vertical del texto arriba de la flor */
}

.text-below {
    
    position: absolute;
    bottom: -290px; /* Ajusta la posición vertical para que quede más abajo del tallo */
    left: 50%;
    transform: translateX(-50%); /* Centra el texto horizontalmente */
    text-align: center;
    color: #fff; /* Color del texto */
    font-size: 25px; /* Tamaño del texto */
    z-index: 1; /* Asegura que esté debajo del tallo */
}
@keyframes pulsate {
  0% {
      transform: scale(1.3);
  }
  50% {
      transform: scale(1.4);
  }
  100% {
      transform: scale(1.3);
  }
}
  .mid {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    
    background: radial-gradient(circle, #000, #ff5e00, #000);
  
    z-index: 4;
  
    background-size: 5px 5px;
  
    filter: drop-shadow(0 0 8px #682600);
  }

  .Petal1 {
    position: absolute;
    left: 40px;
    z-index: 3;
  
    width: 120px;
    height: 30px;
    border-radius: 50%;
  
    background: radial-gradient(circle, #ff5e00, #ffbb00);
  
    filter: drop-shadow(0 0 5px #e05200);
  }
  
  .Petal1.p1 {
    transform: rotate(22.5deg);
  }
  .Petal1.p2 {
    transform: rotate(67.5deg);
  }
  .Petal1.p3 {
    transform: rotate(110.5deg);
  }
  .Petal1.p4 {
    transform: rotate(157.5deg);
  }
  
  .Petal2 {
    position: absolute;
    left: 0;
    z-index: 2;
  
    width: 200px;
    height: 40px;
    border-radius: 50%;
  
    background: radial-gradient(circle, #ff5e00, #fbd702);
  
    filter: drop-shadow(0 0 5px #e05200);
  }
  
  .Petal2.p1 {
    transform: rotate(0deg);
  }
  
  .Petal2.p2 {
    transform: rotate(90deg);
  }
  .Petal2.p3 {
    transform: rotate(45deg);
  }
  
  .Petal2.p4 {
    transform: rotate(135deg);
  }
  
  .Petal3 {
    position: absolute;
    left: 0px;
    z-index: 1;
  
    width: 200px;
    height: 40px;
    border-radius: 50%;
  
    background: radial-gradient(circle, #ff5e00, #fbd702);
  
    filter: drop-shadow(0 0 2px #fbd702);
  }

  .Petal3.p1 {
    transform: rotate(22.5deg);
  }
  .Petal3.p2 {
    transform: rotate(67.5deg);
  }
  .Petal3.p3 {
    transform: rotate(110.5deg);
  }
  .Petal3.p4 {
    transform: rotate(157.5deg);
  }

  .stem {
    position: absolute;
    bottom: -150px; /* Ajusta según sea necesario para posicionar el tallo correctamente */
    width: 20px; /* Ancho del tallo */
    height: 200px; /* Altura del tallo */
    background-color: green; /* Color del tallo */
    border-radius: 10px; /* Bordes redondeados del tallo */
    z-index: 0; /* Asegúrate de que esté detrás de la flor */
}

.leaf {
  position: absolute;
  bottom: -50px; /* Posiciona la hoja en la parte inferior del tallo */
  left: 90px; /* Ajusta según la posición deseada */
  width: 80px;
  height: 40px;
  background-color: green;
  border-radius: 50% 50% 50% 50%;
  transform: rotate(-30deg); /* Rota la hoja para darle una forma más natural */
  z-index: 1;
}
